/* main.css for JS5 Edit in Place
*/
body, input {
	font-family: arial, sans-serif;
	font-size: 16px;
}

.user_form {
	/*position: absolute;*/
	/*text-align: center;*/
}

.form_layout {
	display: block;
	text-align: center;
	width:25%;
	margin: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: 10em;
	padding-left: 10em;
	border:.25em solid red;
}
/*.password {
	display: block;
	text-align: center;
	width:25%;
	margin: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: 10em;
	padding-left: 10em;
	border:.25em solid red;
}*/
/*
.animal {
	display: block;
	text-align: center;
	width:25%;
	margin: 1em;
	padding-top: .5em;
	padding-bottom: .5em;
	padding-right: 10em;
	padding-left: 10em;
	border:.25em solid red;
}*/
